[submodule "indianstocks_pages"]
	path = indianstocks_pages
	url = https://github.com/krishnasaga/indianstocks_pages
[submodule "extraction"]
	path = extraction
	url = https://github.com/worldstats/extraction
